extends index.pug
block shop
	style
		include ../style/shop.css
	h3(id='shop', data-id=shop._id)= shop.name
	p= shop.link
	p= 'Balance: ' + shop.balance
	p(id='user', data-id=user._id).d-none
	p Goods: 
		for good in shop.goods
			span= good + ' '
	button#buy Buy
	form(method="POST", data-shop=shop._id)
		div.d-flex.flex-column.justify-content-center
			h3 Submit a purchase
			p 200 UAH
			p= user._id
			input(type="submit", value="submit")
			p#error.error
	script 
		include ../scripts/shop.js